.linkContainer {
    margin: 2rem 0;
}

.githubImage {
    float: left;
}

.link:hover {
    color: black;
}

.linkTitle {
    margin-left: 1rem;
    display: inline-block;
    padding-top: 3px;
}

.description {
    max-width: 650px;
    margin-bottom: 2rem;
}